doctype html
html
    head
        title="Google Auth"
    body
        div.container
        p.welcome-text This simple ExpressJS app allows you to log in using Google
        a.btn(href="/auth/google") Sign In