* {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 800px;
	width: 100%;
	text-align: center;
	padding: 80px 40px;
	border: 1px solid black;
	border-radius: 5px;
}